

p {
  color: red;
  width: 500px;
  border: 1px solidblack;
  font-family: "Rowdies", cursive;
}

h1 {
	color: green;
	width: 500px;
	font-family: "Rowdies", cursive;
	font-weight: 700;
}


	
	
