

p {
  color: red;
  width: 10px;
  border: 1px solidblack;
  font-family: "Rowdies", cursive;
}

h1 {
	color: green;
	width: 10px;
	font-family: "Rowdies", cursive;
	font-weight: Bold;
}


	
	
